@config "../tailwind.config.ts";

@import "tailwindcss";

body {
  font-family: var(--font-geist-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}

@layer utilities {
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-2px);
    }
    50% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(2px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .animate-float {
    animation: float 4s linear infinite;
  }
}
