@import "tailwindcss";

body {
  background-color: #0a192f; /* azul oscuro */
  color: #ccd6f6; /* texto principal claro */
  font-family: var(--font-geist-sans), sans-serif;
  @apply antialiased;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #171717;
  }
}
